@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #a4b0be;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
}
textarea{
    resize: vertical;
}
header{
    background-color: #57606f;
    color: #f1f2f6;
    padding: 20px;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}
#cv-container{
    margin-top: 30px;
    background-color: white;
    border: 5px solid #ced6e0;
    max-width: 800px;
    border-right-color: #747d8c;
    border-bottom-color: #747d8c;
}

#preview-cv-container{
    background-color: white;
    max-width: 800px;
    width: 800px;
}
